PORT=5000
MONGO_URI=mongodb+srv://sufyanadnan2024_db_user:yZAzJQmjD0emhs2d@cluster0.j9qzonu.mongodb.net/?appName=Cluster0
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:5173
